<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
</head>
<body>
    <form action="/create" method="POST">
        <div>
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" id="imagen" value="src=../img/placa.jpg" placeholder="Ingresar imagen">
        </div>
        <br>
        
        
        <div>
            <label for="articulo">Articulo</label>
            <input type="text" name="articulo" id="articulo" placeholder="Ingresar articulo" required autofocus>
        </div>
        <br>
        
        <div>
            <label for="modelo">Modelo</label>
            <input type="text" name="modelo" id="modelo" placeholder="Ingresar modelo">
        </div>
        <br>
        <div>
            <label for="precio">Precio</label>
            <input type="number" name="precio" placeholder="Ingresar precio">
        </div>
        <br>
        <div>
            <input type="submit" value="Guardar Producto">
        </div>
        <br>
    </form>
    <div>
        <a href="/products/list">Volver</a>
    </div>
</body>
</html>